.icon {

	width: 110px;
	float: left;
	margin: 0 20px 20px 0;

}

.iconpamonha {

	width: 120px;
	float: left;
	margin: 0 20px 20px 0;

}

.iconquentao {
	width: 120px;
	float: right;
	margin: 0 20px 20px 0;

}

.iconpedemoleque {
	width: 120px;
	float: left;
	margin: 0 20px 20px 0;
}

.iconbolo {
	width: 120px;
	float: right;
	margin: 0 20px 20px 0;
}

.iconarrozdoce {
	width: 120px;
	float: left;
	margin: 0 20px 20px 0;
}

.iconmugunza {
	width: 120px;
	float: right;
	margin: 0 20px 20px 0;
}

.iconpipoca {
	width: 120px;
	float: left;
	margin: 0 20px 20px 0;
}

.iconpacoca {
	width: 120px;
	float: right;
	margin: 0 20px 20px 0;
}

.iconmacadoamor {
	width: 120px;
	float: left;
	margin: 0 20px 20px 0;
}

.iconmilho {
	width: 120px;
	float: right;
	margin: 0 20px 20px 0;
}

.iconbrasil {
	width: 120px;
	float: left;
	margin: 0 20px 20px 0;
}

.iconanjo {
	width: 120px;
	float: right;
	margin: 0 20px 20px 0;
}

.iconbrasil {
	width: 120px;
	float: left;
	margin: 0 20px 20px 0;
}

.iconfogueirajunina {
	width: 120px;
	float: right;
	margin: 0 20px 20px 0;
}


.iconfala {
	width: 120px;
	float: left;
	margin: 0 20px 20px 0;
}
